POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=library_management_system
DATABASE_URL=postgres://your_postgres_user:your_postgres_password@localhost:5432/library_management_system